<footer>
  <span>Desenvolvido durante o workshop na universidade Toledo no dia 18/09/2013.</span>
  <span class='social'>
    <%= link_to image_tag(image-path('github.png')), 'http://goo.gl/gLDNci', target: '_blank'%>
    <%= link_to image_tag(image-path('facebook.png')), 'http://goo.gl/M7tER', target: '_blank'%>
    <%= link_to image_tag(image-path('twitter.png')), 'http://goo.gl/S6Rey', target: '_blank'%>
  </span>
</footer>