<h2>Edit <%= @book.title%></h2>

<%= form_for @book, url: book_path do |f| %>
  <%= render partial: 'books/form', locals: {f: f}%>
<% end %>

<%= link_to 'destroy', book_path(@book), method: :delete, confirm: 'You want to delete?' %>